## Establish Database Connection

In [3]:
import mysql.connector

In [4]:
endpoint = "seratestdatabase.c4cjk1vto1om.us-east-2.rds.amazonaws.com"
port = "3306"
usr = "admin"
pswd = "seracapstone"
region = "us-east-2b"
dbname = "teachsim"

In [5]:
cnx = mysql.connector.connect(user=usr, password=pswd, host=endpoint, database=dbname)

In [6]:
cursor = cnx.cursor(buffered=True)

## Clear and Reset Identifiers Table for Testing

In [203]:
cursor.execute("DROP TABLE Identifiers;")

In [204]:
cursor.execute('CREATE TABLE Identifiers ( br_treat_cond int, br_treat_cond_mr int, br_treat_cond_iat int, fb_treat_cond int, f17_treat_cond int, s18_treat_cond int, fb_treat_cond_iat int, id_participant varchar(100), id_section int, id_site varchar(100), id_study int, id_year int,  PRIMARY KEY(id_participant) );')

## Set Working Directory

In [1]:
import os
os.getcwd()

'/Users/jmachita03/Documents/GitHub/MSDS_SERA_capstone/RDS'

In [20]:
os.chdir("/Users/jmachita03/Desktop/Capstone/RDS Set Up")

In [101]:
os.chdir('/Users/jmachita03/Documents/GitHub/MSDS_SERA_capstone/RDS')

## Upload Some Data

In [9]:
import pandas as pd
import numpy as np

In [140]:
ids = pd.read_csv("id_data.csv")

In [141]:
ids

,br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,id_study,id_year
0,0,0,1,1,1,3,1,1784739,1,1,1,1718
1,1,0,1,0,3,3,1,672nhj89,3,1,3,1718
2,1,1,0,0,2,2,0,jdb3892,4,1,2,1819
3,1,0,0,1,2,1,1,8892jde33,2,1,3,1819
4,0,1,0,1,3,3,0,ehdo453,2,1,2,1920
5,0,0,1,0,1,1,0,djcsoa,3,1,4,1718
6,1,0,0,1,1,2,0,4628,4,1,5,1920
7,1,1,1,1,3,2,1,1_1819_2_67,1,1,6,1718

In [142]:
cursor.execute("SELECT * FROM Identifiers")
result = cursor.fetchall()
result

[(1, 1, 1, 1, 3, 2, 1, '1_1819_2_67', 1, '1', 6, 1718),
 (0, 0, 1, 1, 1, 3, 1, '1784739', 1, '1', 1, 1718),
 (1, 0, 0, 1, 1, 2, 0, '4628', 4, '1', 5, 1920),
 (1, 0, 1, 0, 3, 3, 1, '672nhj89', 3, '1', 3, 1718),
 (1, 0, 0, 1, 2, 1, 1, '8892jde33', 2, '1', 3, 1819),
 (0, 0, 1, 0, 1, 1, 0, 'djcsoa', 3, '1', 4, 1718),
 (0, 1, 0, 1, 3, 3, 0, 'ehdo453', 2, '1', 2, 1920),
 (1, 1, 0, 0, 2, 2, 0, 'jdb3892', 4, '1', 2, 1819)]

In [143]:
cols = ",".join([str(i) for i in ids.columns.tolist()])

In [144]:
cols

'br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,id_study,id_year'

In [145]:
for i,row in ids.iterrows():
    sql = "INSERT INTO Identifiers (" + cols + ") VALUES " + str(tuple(row)) + ";"
    cursor.execute(sql)
    
    #cnx.commit()

IntegrityError: 1062 (23000): Duplicate entry '1784739' for key 'Identifiers.PRIMARY'

In [146]:
cursor.execute("SELECT * FROM Identifiers")
result = cursor.fetchall()
colnames = [x[0] for x in cursor.description]
pd.DataFrame(result, columns=colnames)

,br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,id_study,id_year
0,1,1,1,1,3,2,1,1_1819_2_67,1,1,6,1718
1,0,0,1,1,1,3,1,1784739,1,1,1,1718
2,1,0,0,1,1,2,0,4628,4,1,5,1920
3,1,0,1,0,3,3,1,672nhj89,3,1,3,1718
4,1,0,0,1,2,1,1,8892jde33,2,1,3,1819
5,0,0,1,0,1,1,0,djcsoa,3,1,4,1718
6,0,1,0,1,3,3,0,ehdo453,2,1,2,1920
7,1,1,0,0,2,2,0,jdb3892,4,1,2,1819

## View Cleaned Output

In [21]:
data = pd.read_csv("outcome_merged.csv")

In [24]:
len(data.columns)

525

In [27]:
cleaned_cols = list(data.columns)

In [28]:
id_cols = list(ids.columns)
id_cols

['br_treat_cond',
 'br_treat_cond_mr',
 'br_treat_cond_iat',
 'fb_treat_cond',
 'f17_treat_cond',
 's18_treat_cond',
 'fb_treat_cond_iat',
 'id_participant',
 'id_section',
 'id_site',
 'id_study',
 'id_year']

In [29]:
for col in id_cols:
    if col in cleaned_cols:
        print(col)

fb_treat_cond
id_participant
id_section
id_site
id_year

## Functions

In [44]:
def getColumnNames(tableName):
    query = "SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'" + tableName + "'"
    cursor.execute(query)
    result = cursor.fetchall()
    result2 = [x[0] for x in result]
    
    return result2

In [51]:
def overlapColumns(cols1, cols2):
    overlap = []
    for col in cols1:
        if col in cols2:
            overlap = overlap + [col]
    return overlap

In [199]:
def replaceQueries(df, columns, tableName):
    queries = []
    for index, row in df.iterrows():
        query = "REPLACE INTO " +  tableName + " "
        cols = "("
        vals = "("
        for col in columns:
            cols = cols + str(col) + ", "
            
            val = row[col]
            if type(val) == str:
                vals = vals + "'" + val + "', "
            else: vals = vals + str(val) + ", "

        query = query + cols[:-2] + ") " + 'VALUES ' + vals[:-2] + ");"
        queries = queries + [query]
    return queries

## Write Data to Identifiers Table

In [46]:
id_cols = getColumnNames("Identifiers")

In [97]:
overlap = overlapColumns(cleaned_cols, id_cols)

In [98]:
if 'id_participant' in overlap:
    overlap.remove('id_participant')

In [99]:
overlap

['fb_treat_cond', 'id_section', 'id_site', 'id_year']

In [179]:
overlap2 = overlapColumns(cleaned_cols, id_cols)
overlap2

['fb_treat_cond', 'id_participant', 'id_section', 'id_site', 'id_year']

In [60]:
data2 = data.dropna(axis='rows', subset=['id_participant'])

In [61]:
data2

,startdate,enddate,status,ipaddress,progress,duration (in seconds),finished,recordeddate,responseid,recipientlastname,...,tse_is,tse_se,tse_total,ytrt_01,ytrt_02,ytrt_03,ytrt_04,ytrt_05,ytrt_total,ccs_gpa_miss
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.375,6.750,6.916666,5.0,4.0,6.0,6.0,6.0,5.4,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/14/19 10:16,NaN,NaN,...,7.375,6.750,6.916666,5.0,4.0,6.0,6.0,6.0,5.4,0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.250,7.250,7.000000,5.0,5.0,6.0,6.0,6.0,5.6,0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/6/19 13:07,NaN,NaN,...,7.250,7.250,7.000000,5.0,5.0,6.0,6.0,6.0,5.6,0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/20/19 17:56,NaN,NaN,...,7.250,7.250,7.000000,5.0,5.0,6.0,6.0,6.0,5.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.250,8.125,8.125000,4.0,1.0,7.0,6.0,5.0,4.6,0
368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/14/19 10:10,NaN,NaN,...,8.250,8.125,8.125000,4.0,1.0,7.0,6.0,5.0,4.6,0
370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.500,4.625,4.416666,5.0,5.0,7.0,7.0,5.0,5.8,0
371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/5/19 13:13,NaN,NaN,...,4.500,4.625,4.416666,5.0,5.0,7.0,7.0,5.0,5.8,0
373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.500,4.625,4.416666,5.0,5.0,7.0,7.0,5.0,5.8,0

### Insert/Replace Existing Rows

In [184]:
queries = []
for index, row in data2.iterrows():
    query = "REPLACE INTO Identifiers "
    cols = "("
    vals = "("
    for col in overlap2:
        cols = cols + str(col) + ", "
        
        val = row[col]
        if type(val) == str:
            vals = vals + "'" + val + "', "
        else: vals = vals + str(val) + ", "

    query = query + cols[:-2] + ") " + 'VALUES ' + vals[:-2] + ");"
    queries = queries + [query]

In [185]:
queries

["REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_67', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_67', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_86', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_86', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_86', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_108', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_108', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_108', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_76', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_76', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_76', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_14', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_14', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_87', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_87', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_5', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_5', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_5', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_96', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_96', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_96', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_83', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_83', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_83', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_59', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_59', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_54', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_54', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_54', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_30', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_30', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_22', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_22', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_22', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_107', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_107', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_23', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_23', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_23', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_97', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_34', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_34', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_34', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_114', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_114', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_114', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_90', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_78', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_78', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_78', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_113', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_4_113', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_40', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_40', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_40', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_74', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_74', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_74', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_71', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_71', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_103', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_103', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_103', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_95', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_95', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_95', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_3', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_3', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_3', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_77', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_77', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_77', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_43', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_43', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_43', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_98', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_98', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_98', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_70', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_70', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_70', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_19', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_19', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_53', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_53', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_53', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_91', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_91', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_91', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_35', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_35', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_35', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_38', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_38', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_38', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_8', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_66', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_66', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_64', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_64', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_64', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_4_109', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_4_109', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_4_109', 4.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_52', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_52', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_2_52', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_73', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_73', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_3_73', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_72', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_72', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_72', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_27', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_27', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_1_27', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_88', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_88', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_88', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_94', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_94', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_85', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_85', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_45', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_45', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_45', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_20', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_20', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_20', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_1', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_1', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_1', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_100', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_100', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_100', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_75', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_75', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_3_75', 3.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_16', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (0.0, '1_1819_1_16', 1.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_42', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_42', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_42', 2.0, 1.0, 1819.0);",
 "REPLACE INTO Identifiers (fb_treat_cond, id_participant, id_section, id_site, id_year) VALUES (1.0, '1_1819_2_68', 2.0, 1.0, 1819.0);",

In [205]:
for query in queries:
    cursor.execute(query)

In [206]:
cursor.execute("SELECT * FROM Identifiers")
result = cursor.fetchall()
colnames = [x[0] for x in cursor.description]
pd.DataFrame(result, columns=colnames)

,br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,id_study,id_year
0,None,None,None,0,None,None,None,1_1819_1_1,1,1.0,None,1819
1,None,None,None,0,None,None,None,1_1819_1_10,1,1.0,None,1819
2,None,None,None,1,None,None,None,1_1819_1_13,1,1.0,None,1819
3,None,None,None,1,None,None,None,1_1819_1_14,1,1.0,None,1819
4,None,None,None,0,None,None,None,1_1819_1_16,1,1.0,None,1819
...,...,...,...,...,...,...,...,...,...,...,...,...
100,None,None,None,0,None,None,None,1_1819_4_114,4,1.0,None,1819
101,None,None,None,1,None,None,None,1_1819_4_115,4,1.0,None,1819
102,None,None,None,0,None,None,None,1_1819_4_116,4,1.0,None,1819
103,None,None,None,1,None,None,None,1_1819_4_118,4,1.0,None,1819
104,None,None,None,1,None,None,None,1_1819_4_120,4,1.0,None,1819

#### Using the Function

In [201]:
queries = replaceQueries(data2, overlap2, 'Identifiers')

In [202]:
for query in queries:
    cursor.execute(query)

### Update Existing Rows

In [190]:
queries = []
for index, row in data2.iterrows():
    req_update = False
    query = "UPDATE Identifiers SET "
    for col in overlap:
        newval = row[col]
        if newval != None:
            query = query + col + " = " + str(newval) + " , "
            req_update = True
    if req_update == True:
        query = query[:-2]
        query = query + "WHERE id_participant = '" + row["id_participant"] + "';"
        queries = queries + [query]
    #if row["id_participant"] == '1_1819_2_67':
    #    print(query)

In [174]:
# try running the query
query = "UPDATE Identifiers SET fb_treat_cond = 0.0 , id_section = 2.0 , id_site = 1.0 , id_year = 1819.0 WHERE id_participant = '1_1819_2_67';"

In [175]:
cursor.execute(query)

In [191]:
for query in queries:
    cursor.execute(query)

In [193]:
# view table
cursor.execute("SELECT * FROM Identifiers")
result = cursor.fetchall()
colnames = [x[0] for x in cursor.description]
pd.DataFrame(result, columns=colnames)

,br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,id_study,id_year
0,NaN,NaN,NaN,0,NaN,NaN,NaN,1_1819_1_1,1,1.0,NaN,1819
1,NaN,NaN,NaN,0,NaN,NaN,NaN,1_1819_1_10,1,1.0,NaN,1819
2,NaN,NaN,NaN,1,NaN,NaN,NaN,1_1819_1_13,1,1.0,NaN,1819
3,NaN,NaN,NaN,1,NaN,NaN,NaN,1_1819_1_14,1,1.0,NaN,1819
4,NaN,NaN,NaN,0,NaN,NaN,NaN,1_1819_1_16,1,1.0,NaN,1819
...,...,...,...,...,...,...,...,...,...,...,...,...
107,1.0,0.0,1.0,0,3.0,3.0,1.0,672nhj89,3,1,3.0,1718
108,1.0,0.0,0.0,1,2.0,1.0,1.0,8892jde33,2,1,3.0,1819
109,0.0,0.0,1.0,0,1.0,1.0,0.0,djcsoa,3,1,4.0,1718
110,0.0,1.0,0.0,1,3.0,3.0,0.0,ehdo453,2,1,2.0,1920
111,1.0,1.0,0.0,0,2.0,2.0,0.0,jdb3892,4,1,2.0,1819

In [64]:
data2[data2.id_participant == '1_1819_2_67']

,startdate,enddate,status,ipaddress,progress,duration (in seconds),finished,recordeddate,responseid,recipientlastname,...,tse_is,tse_se,tse_total,ytrt_01,ytrt_02,ytrt_03,ytrt_04,ytrt_05,ytrt_total,ccs_gpa_miss
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.375,6.75,6.916666,5.0,4.0,6.0,6.0,6.0,5.4,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/14/19 10:16,NaN,NaN,...,7.375,6.75,6.916666,5.0,4.0,6.0,6.0,6.0,5.4,0

## Close Database Connection

In [207]:
cnx.commit()
cnx.close()