In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
data = pd.read_excel('../data/2019_2020_RosterDemo_Fall2019_CoachingSessions_Final.xls')

In [35]:
# Remove holangother hstypeother
BALANCE_VARIABLES = ['futeaach' ,'futearace', 'futeases' ,'fustuach', 'fusturace', 'fustuses','hsach', 'hsrace', 'hsses', 'hsloc', 'hstype', 'holang', 'faedu', 'moedu', 'partch']

In [36]:
def generateStrataRandomAssignment(data):
    programs = data.groupby('program')
    coachingCol = pd.Series()
    data['coaching']= 0 
    for name,group in programs:        
        n = len(group)
        data.loc[group.index,'coaching']=np.random.permutation(n)% 2

In [48]:
def generateGroups(data):
    isBalanced = False  
    while not isBalanced:
        generateStrataRandomAssignment(data)
        experimentGroup = data.loc[data['coaching'] == 1]
        controlGroup = data.loc[data['coaching'] == 0]
        pValues = np.array([stats.ttest_ind(experimentGroup[var],controlGroup[var],nan_policy='omit').pvalue for var in BALANCE_VARIABLES])
        if np.sum(pValues <= .05) == 0:
            isBalanced = True

In [50]:
generateGroups(data)

[False False False False False False False False False False False False
 False False False]

<ipython-input-36-cfb7607eadf3>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  coachingCol = pd.Series()

In [51]:
data.head()

,student,email,name_last,name_first,program,participant_id,academicplan,gender,age,birthdate,...,futeaach,whyuva,sis_id,ytrt_overall,tse_overall,tmas_overall,rsq_overall,last,first,coaching
0,2603166,aac2sr@virginia.edu,Clary,Ashley,Elem monday,80,ELEM-MT,F,21.0,35919.0,...,2.0,I have wanted to attend UVa since I was a youn...,2603166.0,2.0,-1.0,0.0,0.0,NaN,NaN,0
1,2375161,act4zz@virginia.edu,Todd,Anna (Caroline),Secondary,37,ENGLED-PGM,F,24.0,34660.0,...,NaN,The excellent English Education program,NaN,NaN,NaN,NaN,NaN,Todd,Anna (Caroline),1
2,2564887,aeh2xu@virginia.edu,Hepner,Ally,Elem tuesday,88,ELEM-PGM,F,21.0,35768.0,...,3.0,I choose UVA based on the vast opportunities t...,2564887.0,-1.0,0.0,0.0,-2.0,NaN,NaN,1
3,2593806,agb2sf@virginia.edu,Biltz,Alexis,Elem monday,53,ELEM-MT,F,21.0,35771.0,...,2.0,I chose UVA because 1) I was raised a hoo (my ...,2593806.0,-1.0,1.0,1.0,0.0,NaN,NaN,0
4,2656307,agc3yq@virginia.edu,Cox,Anne,Elem monday,81,SPCED-MT,F,20.0,36080.0,...,1.0,I loved the community i felt here and the peop...,2656307.0,2.0,0.0,3.0,1.0,NaN,NaN,1